//Load base config
includeConfig 'config/base.config'

plugins {
  id 'nf-validation@1.1.3'
}

profiles {
    standard {
        docker.runOptions='--platform=linux/x86_64'
        docker.enabled = true
        container = 'happykhan/python-base:latest'
        process {
            executor = 'local'
            withName: AMRFINDERPLUS1 {
                container = 'happykhan/amrfinder:amrfinder-1.0.1-base'
            }            
            withName: AMRFINDERPLUS2 {
                container = 'ncbi/amr:latest'
            }    
            withName: AMRFINDERPLUS3 {
                container = 'happykhan/amrfinder:amrfinder-1.0.1-nextflow'
                containerOptions = '--interactive'
            }    

        }   
    }

    bmrc {
        apptainer {
            enabled = true
            runOptions = '--bind /well --bind /gpfs3 --bind /well/aanensen/shared/nextflow_workflows/amrfinder-review/temp:/amrfinder/temp  --no-home'
        }
        process {
            cpus = 1
            memory = '2G'
            executor = 'slurm'
            queue = 'short,long'
            clusterOptions='-A aanensen.prj'
            penv = 'shmem'
            errorStrategy = { task.attempt <= 5 ? "retry" : "finish" }
            maxRetries = 5
            withName: AMRFINDERPLUS1 {
                container = '/well/aanensen/shared/singularity/nf-amrfinder-test/amrfinder_amrfinder-1.0.1-base.sif'
            }            
            withName: AMRFINDERPLUS2 {
                container = '/well/aanensen/shared/singularity/nf-amrfinder-test/amr_latest.sif'
            }
            withName: AMRFINDERPLUS3 {
                container = '/well/aanensen/shared/singularity/nf-amrfinder-test/amrfinder_amrfinder-1.0.1-nextflow.sif' 
            }

        }
        tower {
            enabled = false
        }
    }
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}
